<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

   Bootstrap CSS -->
  <link rel="stylesheet" href="../../assets/plugin/bootstrap/css/bootstrap.min.css">

  <title>Hefesto - Dashboard</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Entrada</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Saida</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

  </div>

  <div id="content" class="container-fluid">
    <h1>Hello World!</h1>

    We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>.

    <canvas id="canvas" width="400" height="100"></canvas>

  </div>
</body>

<footer>
  <script src="../../assets/plugin/jquery/jquery-3.4.1.min.js"></script>
  <script src="../../assets/plugin/bootstrap/js/bootstrap.min.js"></script>
  <script src="../controller/renderer.js"></script>
  <script>
    require('chart.js');
    require('../../assets/scripts/dashborad.js')
  </script>
</footer>

</html>