<!-- Content Row -->
<div class="row">
  <div class="col-xl-12 col-lg-12">
    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="width: 100%;">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Produtos</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus fa-sm fa-fw"></i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="table-products" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Unidades</th>
                <th>Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>123</td>
                <td>Nome</td>
                <td>Descrição</td>
                <td>61</td>
                <td>$320,800</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<!-- Page level plugins -->
<script src="../../assets/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="../../assets/plugin/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../../assets/scripts/js/demo/datatables-demo.js"></script>
<script src="../controllers/controllerProducts.js"></script>